{
    "plugins": [
        "import",
        "react",
        "@typescript-eslint",
        "prettier"
    ],
    "extends": [
        "plugin:react-hooks/recommended",
        "airbnb-typescript",
        "plugin:prettier/recommended"
    ],
    "env": {
        "browser": true,
        "es2021": true
    },
    "ignorePatterns": ["node_modules", "dist"],
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "parserOptions": {
                "ecmaFeatures": {
                    "jsx": true
                },
                "project": ["**/tsconfig.json"]
            }
        }
    ],
    "parser": "@typescript-eslint/parser",
    "rules": {
        "prefer-const": ["error", {
          "destructuring": "any",
          "ignoreReadBeforeAssign": false
        }],
        "prettier/prettier": "error",
        "@typescript-eslint/no-use-before-define": ["error", { "functions": false, "typedefs": false, "variables": false }],
        "react/button-has-type": "off",
        "no-console": "warn"
      }
}
