.repo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 6px;
  padding: 24px 32px;
  margin-bottom: 24px;
  background: #FFFFFF;
}

.name {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  color: #0064EB;
  cursor: pointer;
  transition: 0.3s ease;
}

.name:hover {
  color: #04224a;
  transition: 0.3s ease;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 680px) {
  
  .name {
    font-size: 20px;
  }
  .description {
    font-size: 14px;
  }
}