@import "../../styles/variables.scss";

.initialPage {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 90px;

  .startingMessageContainer {
    width: 210px;
    height: 62px;
    margin-top: 47px;

    & > p {
      font-weight: 400;
      font-size: 23px;
      line-height: 140%;
      text-align: center;
      cursor: default;
      color: $dark-grey;
    }
  }
}


 