.paginationContainer {
  align-self: flex-end;
  display: flex;
  align-items: center;
  margin-right: 10px;

  .paginationInfo {
    padding-right: 1rem;

    & > p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      cursor: default;
      color: #808080;
      user-select: none;
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;

    .pageItem {
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      padding: 0 0.4rem;
      margin: 0 0.2rem;

      .pageLink {
        color: #808080;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        cursor: pointer;
        user-select: none;

        &:hover {
          color: #0064EB;
        }
      }

      &:last-child:hover svg path {
        stroke: #0064EB;
      }
      
      &:first-child:hover svg path {
        fill: #0064EB;
      }
    }

    .active {
      background: #0064EB;

      & > .pageLink {
        color: white;
      }
      
      & > .pageLink:hover {
        color: white;
      }
    }

    @media (max-width: 991px) {
      margin-top: 1rem;
    }
  }

  @media (max-width: 991px) {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}